// Общие стили для кнопок 

.btn {
	transition: color .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	padding: 16px 40px;
	text-align: center;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;

	&:hover {
		text-decoration: none;
		outline: none;
	}

	
	&.btn-primary {
		background-color: transparent;
		color: $lite-black;
		border: solid 2px $lite-black;

		&:hover {
			background-color: $lite-black;
			color: $white;
		}
	}

	&.btn-block {
		display: block;
		width: 100%;
	}
}